.simp-footer {
    color: black;
    padding: 0;
    margin: 0;
    bordertop: 1px solid #e9ecef;
    width: 100%;
    flex-shrink: 0;
    heght: 10px; /* Set a fixed height for the footer */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.simp-footer-content p {
    margin-bottom: 20px; /* Remove margin */
    font-weight: bold; /* Make text bold */
}

@media (max-width: 768px) {
    .simp-footer {
        height: 50px; /* Ensure the height is consistent on mobile */
        border-top: 1px solid black;
    }
    .simp-footer-content p {
        text-align: center;
        font-size: 10px; /* Optional: adjust font size on mobile */
        font-weight:bold; /* Make text bold */
    }
}
